.Box-model{
    font-size: x-large;
    color: aqua;
    margin: 10px;
    text-align: justify;
}
#idfg{
    text-align: justify;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 20px solid blue;
}
#idfg:hover{
    color: red;
    border:20px solid red;
    
}