#ul{
    list-style-type: none;
    display: flex;
    background-color: antiquewhite;
    justify-content: space-evenly;
    color: black;
}
#li{
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
#li:hover{
    background-color: lightgray;    
    border-radius: 10px;
}
.Link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}